*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}


.playground{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 100px;
  text-align: center;
  font-family: Sans-serif;
}
.player{
  font-family: Sans-serif;
  color: grey;
  font-size: 150px;
}

.active{
  color: blueviolet;
}
.btn{
  height: 50px;
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 490px;
}